.HomePage {
  margin-top:80px;
  height: max-content;
  padding: 0;
  /* border: 10px solid black; */
}

.section{
  width: 100%;
  height: calc(100% - 63px);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 10px solid white; */
}

.section-contents{
  width: 100%;
}
.outer-contaner {
  overflow: hidden;
  overflow-x: hidden;
}

.inner-container {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
