html,
body {
  margin: 0;
  height: 100%;
  background: #000;
  color: #141414;
  -webkit-overflow-scrolling: touch;
  /* overflow-scrolling: touch; */
  font-family: "Helvetica", sans-serif, Arial;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}



/*  Default Css  */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /* transition: 0.3s all ease-in-out;
  scroll-behavior: smooth; */
}
body {
  font-size: 16px;
  font-family: 'Interstate-Light', sans-serif;
  background: #3a3838;
  color: #000;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Interstate-Regular', sans-serif;
  color: #872569;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}
body h1 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.02em;
}
body h2 {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -0.02em;
}
body h3 {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.02em;
}
body h4 {
  font-size: 24px;
  line-height: 36px;
}
p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #696969;
}
ul {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
body a, Link {
  color: #872569;
  cursor: pointer;
}
a, Link {
  transition: all ease-in-out 0.3s;
  color: #872569;
}
body a:hover, Link:hover {
  color: #1f1291;
}
a,
a:hover, Link, Link:hover {
  text-decoration: none;
}
a:hover, Link:hover {
  text-decoration: none !important;
}
input:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
.section-wrapper {
  padding: 72px 0;
}
img {
  width: 100%;
  height: 100%;
}
.container {
position: relative;
padding: 0 16px;
height: max-content;
margin: auto;
width: 100%;
/* width: 100%;
padding-right: 15px;
padding-left: 15px; */
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, 
.col-sm-8, .col-sm-9 {
position: relative;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
@media (min-width:1440px){
.container{
  max-width: 1352px
}
}

.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  color: #fff;
  background: #000;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

.slides-wrapper {
  margin-top: 63px;
}

.image {
  width: 50%;
  margin-top: 100px;
}

.panel {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  /* padding: 10px; */
  background: #f8f8f8;
  overflow: hidden;
  /* border: 10px solid yellow */
}

.panel-content{
  /* padding: 20vh 0; */
  width: 100%;
  height:100%
}



.panel h1 {
  font-size: 17vw;
  letter-spacing: -0.05em;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
}