.Gallery{
    background: #0daa4f;
    color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* width: 100vw; */
}

.galleryContent{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}